<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">
	
	<!-- 平板电视 -->
	<bean class="com.jd.crawler.JD3CCrawler">
		<!-- 设置url {page} 是分页参数 -->
		<constructor-arg index="0" value="http://list.jd.com/list.html?cat=737,794,798&amp;page={page}"/>
		<!-- 设置对应系统中的类目ID -->
		<constructor-arg index="1" value="76"/>
		
		<!-- 系统服务 -->
		<property name="httpService" ref="httpService"/>
		<property name="itemMapper" ref="itemMapper"/>
		<property name="indexWriter" ref="indexWriter"/>
	</bean>
	
	<!-- 手机 -->
	<bean class="com.jd.crawler.JD3CCrawler">
		<!-- 设置url {page} 是分页参数 -->
		<constructor-arg index="0" value="http://list.jd.com/list.html?cat=9987,653,655&amp;page={page}"/>
		<!-- 设置对应系统中的类目ID -->
		<constructor-arg index="1" value="560"/>
		
		<!-- 系统服务 -->
		<property name="httpService" ref="httpService"/>
		<property name="itemMapper" ref="itemMapper"/>
		<property name="indexWriter" ref="indexWriter"/>
	</bean>

</beans>
